#! /bin/bash

OSNAME=`uname -s`

if [ $OSNAME == 'Linux' ]; then
	LS_OPTIONS='--color'
elif [ $OSNAME == 'Darwin' ]; then
	LS_OPTIONS='-G'
elif [ $(expr substr $OSNAME 1 6) == 'CYGWIN' ]; then
	LS_OPTIONS='--color'
else
	LS_OPTIONS=''
fi

alias ls='ls $LS_OPTIONS -hF'
alias ll='ls $LS_OPTIONS -lhF'
alias l='ls $LS_OPTIONS -lAhF'
alias vi='vim'
alias gk='gitk &'
alias gka='gitk --all &'
#alias gitk='/cygdrive/c/Program\ Files\ \(x86\)/Git/cmd/gitk.cmd'

alias grep='grep --color=auto'

if [ $OSNAME == 'Darwin' ]; then
	alias mvn_j8='JAVA_HOME=`/usr/libexec/java_home -v 1.8.0` mvn'
	alias mvn_j7='JAVA_HOME=`/usr/libexec/java_home -v 1.7.0` mvn'
	alias mvn_j6='JAVA_HOME=`/usr/libexec/java_home -v 1.6.0` mvn'
fi
