#! /bin/bash

OSNAME=`uname -s`

if [ $OSNAME == 'Linux' ]; then
	LS_OPTIONS='--color'
elif [ $OSNAME == 'Darwin' ]; then
	LS_OPTIONS='-G'
elif [ $(expr substr $OSNAME 1 6) == 'CYGWIN' ]; then
	LS_OPTIONS='--color'
else
	LS_OPTIONS=''
fi

alias ls='ls $LS_OPTIONS -hF'
alias ll='ls $LS_OPTIONS -lhF'
alias l='ls $LS_OPTIONS -lAhF'

if hash nvim 2> /dev/null; then
	alias vi='nvim'
elif hash vim 2> /dev/null; then
	alias vi='vim'
fi

alias gk='gitk &'
alias gka='gitk --all &'

alias grep='grep --color=auto'
alias diff='diff --color=auto'

