#! /bin/sh

#
# EDITOR
#
if hash nvim 2> /dev/null; then
	export EDITOR=nvim
elif hash vim 2> /dev/null; then
	export EDITOR=vim
fi

#
# PAGER
#
# https://github.com/rkitover/vimpager
#
if hash vimpager 2> /dev/null; then
	export PAGER=vimpager
fi

#
# MAVEN_OPTS
#
export MAVEN_OPTS="-Xmx1g"

#
# JAVA_HOME
#
if hash java_home 2> /dev/null; then
	export JAVA_HOME=`/usr/libexec/java_home -v 1.8.0`
fi

#
# GOPATH
#
export GOPATH=$HOME/projects/go-projects

#
# PATH
#

#export PATH=$PATH

