#! /bin/sh

#
# EDITOR
#
if hash nvim 2> /dev/null; then
	export EDITOR=nvim
elif hash vim 2> /dev/null; then
	export EDITOR=vim
fi

#
# PAGER
#
# https://github.com/rkitover/vimpager
#
if hash vimpager 2> /dev/null; then
	export PAGER=vimpager
fi

#
# MAVEN_OPTS
#
export MAVEN_OPTS="-Xmx1g"

#
# JAVA_HOME
#
readonly java_home_executable='/usr/libexec/java_home'
if test -x ${java_home_executable} 2> /dev/null; then
	export JAVA_HOME=`${java_home_executable} -v 11`
fi

#
# GOPATH
#
export GOPATH=$HOME/projects/go-projects

#
# PATH
#

#export PATH=$PATH

