[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[user]
	name = Jeongho Jang
	email = jeongho.jang@linecorp.com
[credential]
	helper = cache --timeout 3600
[push]
	default = simple
