[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[user]
	name = Jeongho Jang
	useConfigOnly = true
[credential]
	helper = cache --timeout 3600
[push]
	default = simple
[init]
	defaultBranch = main
	templateDir = ~/.gittemplate
[pull]
	ff = only
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft --display inline "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[alias]
	dft = difftool
	gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
[core]
	autocrlf = input
