[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule ".scm_breeze"]
	path = .scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule ".oh-my-zsh-custom/powerlevel10k"]
	path = .oh-my-zsh-custom/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
